
<div class="container">
    <app-header></app-header>
    
    <div class="pagina">

        <div class="botoesEImagem">
            <img src="assets/img/pagina_principal.png" >
        </div>

        <div class="botoes">
            <app-button-options [variavel] = "'Alertas'"></app-button-options>
            <app-button-options [variavel] = "'Caderneta'"></app-button-options>
            <app-button-options [variavel] = "'Campanhas'"></app-button-options>
            <app-button-options [variavel] = "'Mapa de Postos'"></app-button-options>
        </div>
        
        <div class="botoesEImagem">
            <app-button [variavel] = "'Sair'"></app-button>
        </div>

    </div>  
</div>


