<section class="container">
  <div class="pagina">
    <div class="vertical-center">
      <div class="botoesEImagem">
        <img src="assets/paginaprincipal.png" alt="image">
      </div>

      <div class="botoes">
        <!-- lista de lembretes -->
        <app-button-options [variavel]="'Alertas'" [routerLink]="['/alertas']" routerLinkActive="active">
        </app-button-options>

        <!-- lista doenca com botao de notificacao/lembrete
      comunicar com 'lembrete' -->
        <app-button-options [variavel]="'Vacinas a tomar'" [routerLink]="['/proximas_vacinas']"
          routerLinkActive="active">
          Vacinas a tomar
        </app-button-options>

        <!-- <app-button-options [variavel]="'Campanhas'"></app-button-options> -->

        <!-- listar postos - ok -->
        <app-button-options [variavel]="'Postos'" [routerLink]="['/postos']" routerLinkActive="active">
        </app-button-options>
      </div>


    </div>
    <div class="vertical-left">
      <app-button [variavel]="'Sair'" [routerLink]="['/']" routerLinkActive="active"></app-button>
    </div>
  </div>
</section>
