.container {
  display: flex;
  justify-content: center;

  width: 10rem;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  opacity: 85%;
  border-radius: 0.2rem;

  transition: 0.2s;
}

.container:hover {
  transition: all;
  opacity: 100%;
  border-style: 1rem inset;
}
